footer {
    height: 100px;
    background-color: #353c59;
    padding-top: 10px;
    padding-left: 15%;
    font-family: 'Montserrat', sans-serif
}

.div_footer {
    display: flex;
    align-items: flex-end;
    color: white;
    gap: 20px;
}

.div_footer_content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5px;
}

.mentionlegal {
    margin-right: 20px;
    color: white;
}