.compteur_fibre_client {
    text-align: center;
    margin-top: 20px;
}

.compteur_fibre_client h3 {
    font-size: 3rem;
    color: #1e90ff;
    margin: 0;
    font-weight: bold;
    transition: color 0.3s ease;
}

.compteur_fibre_client p {
    font-size: 1.2rem;
    color: #555;
}