.infogerance img,
.maitenance_img {
    width: 400px;
    height: 400px;
    border-radius: 2%;
    margin-right: 20px;
}

.infogerance article,
.maitenance {
    display: flex;
    margin-left: 20px;
}

.infogerance span {
    font-weight: bolder;
}

.serenite_desc {
    max-width: 600px;
}

.serenite_desc p,
.serenite_desc ul {
    width: 100%;
    line-height: 1.6;
    /* espace entre lignes */
    /* prend toute la largeur disponible */
}

.maitenance {
    flex-direction: row-reverse;
}

.infogerance {

    margin-top: 80px;
}

.maitenance {
    margin-top: 50px;
}



.section img,
.section-img {
    width: 400px;
    height: 400px;
    border-radius: 2%;
    margin-right: 20px;
}

.section,
.section-reverse {
    display: flex;

    margin-left: 20px;
}

.section span {
    font-weight: bolder;
}

.section-desc {
    /* max-width: 600px; */
    margin-left: 30px;
    margin-right: 30px;
}

.section-desc p,
.section-desc ul {
    width: 100%;
    line-height: 1.6;
}

.section-reverse {
    flex-direction: row-reverse;
}

.section-container {
    margin-top: 80px;
}

.section-container-small {
    margin-top: 50px;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation depuis la droite */
@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-left {
    animation: slideInLeft 1s ease-out forwards;
}

.animate-right {
    animation: slideInRight 1s ease-out forwards;
}