@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.WidgetTitle__Header-sc-c581efe-2 dNtlyB {
  display: none;
}

.compteur_fibre_client {
  text-align: center;
  margin-top: 20px;
}

.compteur_fibre_client h3 {
  font-size: 3rem;
  color: #1e90ff;
  margin: 0;
  font-weight: bold;
  transition: color 0.3s ease;
}

.compteur_fibre_client p {
  font-size: 1.2rem;
  color: #555;
}